@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 100px;
}

.logo {
    font-size: 24px;
    font-weight:900;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 55px 100px;
    color: #F9FAF8;
    gap: 50px;
}

.hero-left{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 3px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    border: none;
}

.hero img {
    height: auto;
    width: 600px;
}

.information {
    display: flex;
    border: solid;
    align-items: center; 
    justify-content: space-between;
    flex-direction: column;
    padding: 55px 100px;
}

.info-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info-img {
    height: auto;
    width: 150px;
}

.squat,
.bench,
.deadlift,
.overhead-press {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.quote {
    display: flex; border: solid;
}

.sign-up {
    display: flex;
    border: solid;
}

.footer {
    border: solid;
}